*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
/*
Colores
azul oscuro: #085079
azul claro: #4C99C5
amarillo: #C5C10D
rojo: #860E13
verde: #46450C


*/
.encabezado{
    height: calc(100% - 90%);
    width: 100%;
    background-color: #085079;
}

.encabezado>img{
    height: 50px;
    position: fixed;
    margin: 5px;
    margin-left: 10px;
}
.encabezado>h1{
    padding-top: 5px;
    color: white;
    text-align: center;
    font-size: 2.3em;
}
.mapa{
    width: 100%;
    height: calc(100% - 20%);
    background-image: url("a.jpg");
}
.alerta{
    width: 100%;
    height: 100px;
    background-color: #860E13;
    position: fixed;
    left: 0px;
    top: -200px;
    z-index: 9999999999;
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,.5);
    transition: .4s all;
}
.ver{
    top:0px;
}
#alerta-titulo{
    text-align: center;
    font-size: 1.6em;
    color: white;
    margin-top: 10px;
    float: left;
    width: 100%;
    font-weight: 300;
}
#alerta-mensaje{
    text-align: center;
    font-size: 1.0em;
    color: white;
    margin-top: 10px;
    float: left;
    width: 100%;
}
.opciones{
    margin-left: calc(75% - 260px);/*pendiente*/
}
.menu{
    width: 100%;
    height: calc(100% - 90%);
}
.menu>div>div{
    box-sizing: border-box;
    float: left;
    margin-left: 15px;
    height: 100%;
}
.usuario:hover, .navegar:hover, .salir:hover{
    height: calc(100% - 90%);
    background:rgba(8,80,121,.9);
}
.menu>div>div>img{
    margin: 5px;
    height: 50px;
    width: 50px;
    position:relative;
    
}
